.todo-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .todo-container h1 {
    margin-bottom: 20px;
    font-size: 24px;
   
  }
  
  .todo-container ul {
    list-style: none;
    padding: 0;
    background-color: #646cff;
  }
  
  .todo-container li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #c71212;
    background-color: red
  }
  
  .todo-container li:last-child {
    border-bottom: none;
    background-color: green;
  }
  
  .todo-container input,
  .todo-container .ant-select-selector,
  .todo-container .ant-picker {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .todo-container button {
    margin-left: 10px;
  }
/* Estilo del contenedor del loader */
.loader {
  border: 10px solid rgba(186, 186, 37, 0.1); /* Color del borde */
  border-top: 100px solid #f4eaea; /* Color del borde superior */
  border-radius: 50%; /* Hace que el loader tenga forma de círculo */
  width: 50px; /* Ancho del loader */
  height: 50px; /* Altura del loader */
  animation: spin 1s linear infinite; /* Aplica la animación spin */
  margin: auto; /* Centra el loader horizontalmente */
  margin-top: 20vh; 
  background-color: antiquewhite;
}

/* Animación de rotación del loader */
@keyframes spin {
  0% { transform: rotate(0deg); } /* Define la rotación inicial */
  100% { transform: rotate(360deg); } /* Define la rotación final */
}
